input {
    kafka {
      bootstrap_servers => "localhost:9092"
      topics => ["cleaned-service-requests-events"]
      group_id => "logstash-consumer-group"
      codec => "json"
      auto_offset_reset => "earliest"
    }
  }

filter {
      json {
        source => "data"
        target => "parsed_message"
      }
     mutate {convert => ["latitude", "float"]}
     mutate {convert => ["longitude", "float"]}
     mutate {convert => ["y_coordinate_state_plane", "integer"]}
     mutate {convert => ["x_coordinate_state_plane", "integer"]}  
  }

output {
  elasticsearch {
    hosts => "localhost"
    index => "service_requests"
  }
  stdout {}
}
