input {
    kafka {
      bootstrap_servers => "localhost:9092"
      topics => ["service-requests-events"]
      group_id => "logstash-consumer-group"
      codec => "json"
      auto_offset_reset => "earliest"
    }
  }

filter {
      json {
        source => "message"
        target => "parsed_message"
      }
     mutate {convert => ["latitude", "float"]}
     mutate {convert => ["longitude", "float"]}
     mutate {convert => ["y_coordinate_state_plane", "integer"]}
     mutate {convert => ["x_coordinate_state_plane", "integer"]}  

    mutate {
      rename => { "[location][latitude]" => "[geoip][location][lat]" }
      rename => { "[location][longitude]" => "[geoip][location][lon]" }
    }
    mutate {
      convert => { "[geoip][location][lat]" => "float" }
      convert => { "[geoip][location][lon]" => "float" }
    }

  }

output {
  elasticsearch {
    hosts => "localhost"
    index => "service_requests"
    document_id => "%{unique_id}"
  }
  stdout {}
}
